* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    width: 85%;
    max-width: 65em;
    /*means 65 * font-size = 16 pixels  */
    margin: 0 auto;
}

.btn {
    display: inline-block;
    /* so as not to overlap with above text */
    text-decoration: none;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    color: var(--clr-text, #fff);
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: .25em;
    text-transform: uppercase;
    transition: 250ms ease-in-out;
}

/*

Hover is 'true' when the mouse pointer is over an element.
 Focus is true if the cursor is in that element.
  It's possible for hover to be false and focus true 
  (e.g click in a text field then move the mouse away)
*/
.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .5;
}

/* any element that has a direct sibling before it*/
.spacing>*+* {
    margin-top: 2rem;

}

.primary-title {
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1.1;
}

.hero {
    text-align: center;
    padding: 15em 0;
    background-image: url(./img/shoe-3.png),
        radial-gradient(#444, #111);
    color: white;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

/* global for all sections */
.section-title {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 3rem;
}

section {
    /* padding: 7em 0; */
    padding: 1.8em 0;
    color: rgb(73, 70, 70);

}

.split {
    display: flex;
    /* instead of media query i need to wrap
     items in col instead of img shrink while min window */
    flex-wrap: wrap;
    gap: 1em;
    /* space betw items- check gap at inspect */
    justify-content: center;
}

/* All direct children of that split */
.split>* {
    /*The flex-basis CSS property sets the initial main size of a flex item.*/
    flex-basis: 30%;
    min-width: 15rem;
    /* so as not to get so tiny while window min */

}

section .featured {
    background: #eee;

}

.featured_item {
    /* add position relative coz we will use psudoelem later */
    position: relative;
    /*The scale() CSS function defines a transformation that resizes an element on the 2D plane.*/
    transform: scale(.85);
    transition: transform 1s;
    text-decoration: none;
    color: rgb(43, 42, 42);
    text-align: center;
    /* line-height:1.2 ; */

}

.featured_item:hover {
    transform: scale(1);

}

.featured_item::after {
    content: '';
    position: absolute;
    background: #1082B1;
    /* nothing appear so add padding */
    padding: 82% 82% 0 0;
    /* padding as a percentage of item width to make it relative */
    border-radius: 50%;
    top: 10%;
    left: 10%;
    z-index: -1;

}

span {
    display: block;
    font-weight: 500;
    font-size: 2rem;
}

.featured_details {
    opacity: 0;
    margin-top: 2.5rem;
    line-height: 1.2;
    text-shadow: 0 0 92px #0fa,

}

.featured_item:hover .featured_details {
    opacity: 1;

}

/* Styling  products in section our-products */
.product {
    /* background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b); */
    padding: 3rem;
    border-radius: 3em;
    margin-bottom: 3rem;
    text-align: center;
    color: rgb(43, 42, 42);

}
.product img{
    /* make shoe out of limit fancy look */ 
    margin: -5em 0 0 0 ;
}

.product a.btn{
    background-color: transparent;
    border: 1px solid rgb(43, 42, 42); ;
}

.product_title {
    font-size: 3rem;
    text-transform: uppercase;
    /*to guiard small screen size use line height */
    line-height: 1.1;
    color: rgb(43, 42, 42);
    /* rgba fn to color manibulation and .2 is the opacity */
    text-shadow: 0 0 .2em rgba(#000, .2);

}

.shoe-first{
    background: radial-gradient(#fceabb, #f8b500);
}
.shoe-first a.btn{
    background: #510F1C;
}

.shoe-seconed{
    background-image: linear-gradient(to right top, #f557b1, #e16cca, #ca7fdc, #b18ee7, #9b9beb, #88a8f3, #76b4f8, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}
.shoe-seconed a.btn{
    background: indigo;
    border: none;
}

.shoe-third{
    background: radial-gradient(circle farthest-side, #56ab2f, #a8e063);
}
.shoe-third a.btn{
    background: #2c4e16;
    border: none;
}

/* on browser target size that make indifferences and convert it to em example: at 700 px : 700/16px = 43 em */ 

@media (min-width : 45em) {
   
    /* to make text wrap around content */
    .product img{
        float: right;
        width: 50%;
        /* now we need to text to wrap around image *
        /* outline: 2px solid red; to see img limits */
        shape-outside: circle(30%);
        shape-margin: 5.5em;

    }

    .product{
        text-align: left;
    }

    
}