.solid-logo {
    display: inline-block;
    width: 400px;
    height: auto;
    position: absolute;
    top: 10%;
    right: 15%;
    // bottom: 0;
    // margin: auto;
    transform: rotateZ(45deg) !important;
    opacity: 0.3;


}