html{
  font-size:62.5% ;
}
body {
  margin: 0;
  /* 300 font-weight, 11px font-size , 1.4 line-height - font-family */ 
  font: 300 11px/1.4 'Helvetica-Neu', 'sans-serif' ;
  color: #444;
  background-color: #022c43;
/*overflow property controls what happens to content that is too big to fit into an area.*/
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



